<%= link_to "Back", users_path, class: "back-btn" %>
<div class="show-user-container">
  <%= render '/shared/user', obj: @user %>
  <div class="user-bio">
    <p>Bio</p>
    <p> <%= @user.bio %> </p>
  </div>
  <% post = Post.new %>
  <% post.author = @user %>
  <% if can? :create, post %>
    <div class="create-post">
      <%= link_to 'Create post', new_user_post_path(@user.id)  %>
    </div>
  <% end %>
  <% if @posts.length > 0 %>
    <div class="user-posts">
      <% @posts.each_with_index do|post, index| %>
        <%= render '/shared/post', obj: post, idx: index, details: false %>
      <% end %>
    </div>
  <% else %>
    <p class="no-posts" >This user has no posts yet.</p>
  <% end %>
  <% if @user.posts_counter > 0 %>
    <%= link_to 'Show all posts', user_posts_path(@user) %>
  <% end %>
</div>
