<%= link_to "Back", user_posts_path, class: "back-btn" %>
<div class="container">
  <div class="each-post">
    <div class="flex">
      <div class="post-heading">
        <p class="post-num">Post  By: <span class="post-user"><%= @user.name %></span> </p>
      </div>
      <div class="post-interactions">
        <span>Comments: <%= @post.comments_counter %>, </span>
        <span> Likes: <%= @post.likes_counter %> </span>
      </div>
    </div>
    <div class="title-like">
      <h4>Title:  <%= @post.title %> </h4>
      <% if can? :create, Like %>
        <%= button_to "Like", user_post_likes_path(@user.id, @post.id), method: :post %>
      <% end %>
    </div>
    <p class="post-text"> <%= @post.text  %> </p>
    <% if can? :destroy, @post %>
      <%= button_to 'Delete Post', user_post_path(@user.id, @post.id), method: :delete  %>
    <%end%>
    <% if @post.comments.length > 0 %>
      <%= render '/shared/comments', comments: @comments %>
    <% else %>
      <p class="no-posts" >No comments yet</p>
    <% end %>
  </div>
</div>
<div class="comment-form">
  <h3>Create new comments</h3>
  <%= form_with model: @comment, url: user_post_comments_path(current_user.id, @post.id), method: :post, local: true do |f| %>
    <p>
      <%= f.label :text %>
      <br/>
      <%= f.text_area :text, required: true, cols: 50, rows: 6 %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
