<%= link_to "Back", user_posts_path %>
<div class="container">
  <div class="each-post">
    <div class="flex">
      <div class="post-heading">
        <p class="post-num">Post  By: </p>
        <p class="post-user"> <%= @user.name %> </p>
      </div>
      <div class="post-interactions">
        <span>Comments: <%= @post.comments_counter %>, </span>
        <span> Likes: <%= @post.likes_counter %> </span>
      </div>
    </div>
    <div class="title-like">
      <h4>Title:  <%= @post.title %> </h4>
      <%= button_to "Like", user_post_likes_path(@user.id, @post.id), method: :post %>
    </div>
    <p class="post-text"> <%= @post.text  %> </p>
    <% if @post.comments.length > 0 %>
      <%= render '/shared/comments', comments: @comments %>
    <% else %>
      <p class="no-posts" >No comments yet</p>
    <% end %>
  </div>
</div>
